@import "../variables";

.fullpageloader-bars {
    margin: $fullpageloader-margin;
    width: $fullpageloader-size;
    height: $fullpageloader-size;
    text-align: center;
    font-size: 0;

    &>div {
        background-color: $fullpageloader-color;
        height: 100%;
        width: ($fullpageloader-size / 5) - 2;
        margin: 1px;
        display: inline-block;

        -webkit-animation: fullpageloader-bars 1.2s infinite ease-in-out;
        animation: fullpageloader-bars 1.2s infinite ease-in-out;
    }

    .fullpageloader-bar-2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .fullpageloader-bar-3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .fullpageloader-bar-4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .fullpageloader-bar-5{
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
}


@-webkit-keyframes fullpageloader-bars {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes fullpageloader-bars{
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}