@import "../variables";

.fullpageloader-bouncing-circle {
    width: 40px;
    height: 40px;

    position: relative;
    margin: $fullpageloader-margin;

    .fullpageloader-bouncing-circle-1,
    .fullpageloader-bouncing-circle-2 {

        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #333;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: fullpageloader-bounce 2.0s infinite ease-in-out;
        animation: fullpageloader-bounce 2.0s infinite ease-in-out;

    }

    .fullpageloader-bouncing-circle-2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

}

@-webkit-keyframes fullpageloader-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes fullpageloader-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}