
@import "../variables";

.fullpageloader-rotating-square {
    width: $fullpageloader-size;
    height: $fullpageloader-size;
    background-color: $fullpageloader-color;
    margin: $fullpageloader-margin;
    animation: fullpageloader-rotating-square 1.2s infinite ease-in-out;
}

@keyframes fullpageloader-rotating-square  {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
} 
