@import "variables";

.fullpageloader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $fullpageloader-overlay;
    z-index: 999999;
}

.fullpageloader-animation {
    position: absolute;
    width: $fullpageloader-size;
    height: $fullpageloader-size;
    top: 50%;
    left: 50%;
    margin-left: (($fullpageloader-size * 0.5) + $fullpageloader-margin) * -1;
    margin-top: (($fullpageloader-size * 0.5) + $fullpageloader-margin) * -1;
}

.fullpageloader-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $fullpageloader-size;
}

