.fullpageloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999999; }

.fullpageloader-animation {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px; }

.fullpageloader-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px; }

.fullpageloader-rotating-square {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 40px;
  animation: fullpageloader-rotating-square 1.2s infinite ease-in-out; }

@keyframes fullpageloader-rotating-square {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.fullpageloader-bouncing-circle {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 40px; }
  .fullpageloader-bouncing-circle .fullpageloader-bouncing-circle-1,
  .fullpageloader-bouncing-circle .fullpageloader-bouncing-circle-2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: fullpageloader-bounce 2.0s infinite ease-in-out;
    animation: fullpageloader-bounce 2.0s infinite ease-in-out; }
  .fullpageloader-bouncing-circle .fullpageloader-bouncing-circle-2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@-webkit-keyframes fullpageloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes fullpageloader-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.fullpageloader-bars {
  margin: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 0; }
  .fullpageloader-bars > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    margin: 1px;
    display: inline-block;
    -webkit-animation: fullpageloader-bars 1.2s infinite ease-in-out;
    animation: fullpageloader-bars 1.2s infinite ease-in-out; }
  .fullpageloader-bars .fullpageloader-bar-2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .fullpageloader-bars .fullpageloader-bar-3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
  .fullpageloader-bars .fullpageloader-bar-4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .fullpageloader-bars .fullpageloader-bar-5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

@-webkit-keyframes fullpageloader-bars {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes fullpageloader-bars {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.fullpageloader-folding-square {
  margin: 40px;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }
  .fullpageloader-folding-square > div {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    .fullpageloader-folding-square > div:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333;
      -webkit-animation: fullpageloader-folding-squaree 2.4s infinite linear both;
      animation: fullpageloader-folding-square 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
  .fullpageloader-folding-square .fullpageloader-square-2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg); }
  .fullpageloader-folding-square .fullpageloader-square-3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg); }
  .fullpageloader-folding-square .fullpageloader-square-4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg); }
  .fullpageloader-folding-square .fullpageloader-square-2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .fullpageloader-folding-square .fullpageloader-square-3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .fullpageloader-folding-square .fullpageloader-square-4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }

@-webkit-keyframes fullpageloader-folding-square {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes fullpageloader-folding-square {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

/*# sourceMappingURL=fullpageloader.css.map */
